node_modules/

frontend/dist/
frontend/wailsjs/
frontend/pkg/

design-system/dist/
design-system/pkg/

plugins/helm/frontend/dist/
plugins/helm/frontend/pkg/

build/

pnpm-lock.yaml
*.go
go.sum

.claude/

litelens
